<h1>Listing domains</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Word</th>
      <th>.com</th>
      <th>.net</th>
      <th>.org</th>
      <th>.co</th>
      <th>.info</th>
      <th>.biz</th>
      <th>.mobi</th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.word %></td>
        <td class=<%= domain.com ? 'danger' : 'success' %>>
	  <%= domain.com ? 'Taken' : 'Available' %>
	</td>
        <td class=<%= domain.net ? 'danger' : 'success' %>>
	  <%= domain.net ? 'Taken' : 'Available' %>
	</td>
        <td class=<%= domain.org ? 'danger' : 'success' %>>
	  <%= domain.org ? 'Taken' : 'Available' %>
	</td>
        <td class=<%= domain.co ? 'danger' : 'success' %>>
	  <%= domain.co ? 'Taken' : 'Available' %>
	</td>
        <td class=<%= domain.info ? 'danger' : 'success' %>>
	  <%= domain.info ? 'Taken' : 'Available' %>
	</td>
        <td class=<%= domain.biz ? 'danger' : 'success' %>>
	  <%= domain.biz ? 'Taken' : 'Available' %>
	</td>
        <td class=<%= domain.mobi ? 'danger' : 'success' %>>
	  <%= domain.mobi ? 'Taken' : 'Available' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domain', new_domain_path %>
